<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ADato.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ADato.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ADato.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <ADato.Properties.Settings1>
      <setting name="valor" serializeAs="String">
        <value />
      </setting>
    </ADato.Properties.Settings1>
  </userSettings>
  <applicationSettings>
    <ADato.Properties.Settings>
      <setting name="PROVEEDOR_ADONET" serializeAs="String">
        <value>System.Data.SqlClient</value>
      </setting>
      <setting name="CADENA_CONEXION" serializeAs="String">
        <value>Data Source=XL;Initial Catalog=PLANTOGRAMA;Integrated Security=True</value>
      </setting>
      <setting name="CADENA_CONEXIONAzure" serializeAs="String">
        <value>Server=tcp:ayungan.database.windows.net,1433;Initial Catalog=plantograma;Persist Security Info=False;User ID=ayungan;Password=Cuka2205;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</value>
      </setting>
    </ADato.Properties.Settings>
    <ADato.Properties.Settings1>
      <setting name="PROVEEDOR_ADONET" serializeAs="String">
        <value>System.Data.SqlClient</value>
      </setting>
      <setting name="CADENA_CONEXION" serializeAs="String">
        <value>Data Source=DESKTOP-583241E;Initial Catalog=pryctPlantograma;Integrated Security=True</value>
      </setting>
    </ADato.Properties.Settings1>
  </applicationSettings>
</configuration>